.folder {
  display: inline-block;
  max-width: 95%;
  margin-bottom: 15px;
  width: max-content;
  text-decoration: none;
  display: grid;
  grid-template-columns: 35px minmax(0, 1fr) 40px;
  grid-template-areas: 
    'logo title buttons';
  overflow: hidden;
  transition: all .5s ease;
}

.folder:hover {
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .folder {
    grid-template-columns: 40px;
    grid-template-areas: 
      'logo'
      'buttons';
    margin: 0 auto 15px;
  }
}

.folder:nth-child(6) {
  margin-bottom: 40px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  grid-area: logo;
}

@media screen and (max-width: 560px) {
  .logo {
    margin: 0 0 5px 5px;
  }
}

.title {
  display: inline-block;
  max-width: 100%;
  font-size: 14px;
  margin: 0;
  color: #fff;
  line-height: 30px;
  text-align: center;
  width: max-content;
  grid-area: title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 560px) {
  .title {
    display: none;
  }
}

.buttons {
  grid: buttons;
  display: flex;
  align-items: center;
}

.buttons_disabled {
  display: none;
}

.button {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.rename {
  background: url(../../../images/folders/rename.png) no-repeat;
  background-size: contain;
}

.delete {
  background: url(../../../images/folders/delete.png) no-repeat;
  background-size: contain;
}