.navlink {
  margin-bottom: 20px;
  width: max-content;
  text-decoration: none;
  display: grid;
  grid-template-areas: 
    'logo title'
    'buttons buttons';
}

.navlink:nth-child(6) {
  margin-bottom: 40px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  grid-area: logo;
}

.title {
  font-size: 14px;
  margin: 0;
  color: #fff;
  line-height: 30px;
  text-align: center;
  width: max-content;
  grid-area: title;
}

.buttons {
  grid: buttons;
}