.header {
  grid-area: header;
  background: #202124;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  background: url(../../images/logo.png) no-repeat;
  background-size: cover;
}

.name {
  margin: 0;
  font-size: 14px;
  color: #fff;
}