.app {
  max-width: 1280px;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10vh calc(90vh - 20px);
  grid-template-areas: 
    "header header"
    "folders letter";
  grid-row-gap: 20px;
}